h1, h2, h3, h4, h5, h6, th {
  font-family: 'MedievalSharp', cursive;
}

table, th, td {
  border: 1px solid black;
}

.details {
  display: inline;
}

ul {
  list-style: none;
}

li {
  margin: 1em 0;
}

form {
  display: inline;
}
